*{
    margin: 0px;
    padding: 0px;
}
.xy-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.border{
    border: 1px solid red;
}
#dynamic{
    width: 100%;
    flex: 1;
    overflow: scroll;
    background-color: #fafafa;
}
::-webkit-scrollbar{
    display: none;
}