.contact_repeat{
    width: 90%;
    height: 50px;
    display: flex;
    border-bottom: 1px solid #ebebeb;
    margin-left: 20px;
}
.contact_left{
    flex: 2;
    height: 100%;
}
.contact_left_img{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}
.contact_left_border{
    width: 40px;
    height: 40px;
    background-color: blue;
}
.contact_left_img_extra{
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
}
.contact_right{
    flex: 8;
    height: 100%;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}
.contact_right_font{
    width: 100%;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
}
.contact_name{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    padding-left: 30px;
    background-color: #ebebeb;
    color: #8b8b8b;
}
#contact_end{
    width: 100%;
    height: 40px;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
    color: #8b8b8b;
}
#words_div{
    width: 20px;
    height: 510px;
    position: absolute;
    right: 0px;
    display: flex;
    flex-flow: column nowrap;
}
.word_div{
    width: 100%;
    flex: 1;
    text-align: center;
    font-size: 13px;
}